<div class="main">
	<h1>Waldo#index</h1>
	<p>Find me in app/views/waldo/index.html.erb</p>
	<%= image_tag("waldo.jpeg", size: "900x600", alt: "Find Waldo", class: 'myImg', id: "myImgId", usemap: "waldomap") %>
	<div class="myBox", id="boxId"></div>
</div>
